fastapi
uvicorn[standard]
pydantic
pydantic-settings
rdkit
mordred
scikit-learn
numpy
pandas
joblib
requests
httpx
pytest
pytest-asyncio
pytest-benchmark
pytest-mock
python-multipart
gunicorn
python-json-logger