"""
Development dependencies (extends requirements.txt).
"""
-r requirements.txt
# Code Quality
black
isort
flake8
mypy
# Testing Extras
pytest-cov
pytest-xdist  # Parallel testing
httpx  # For TestClient
# Documentation
mkdocs
mkdocs-material
# Development Tools  
pre-commit
jupyter  # For notebooks
ipython